plan.md

# TLS private keys
traefik/certs/*.key
traefik/secrets/dashboard_users
traefik/logs/

# Go build output
custom-go/bin/

# Docker override files
docker-compose.override.yml

plan-website.md
about-me.md
landing.md
certifications.md

services/landing/node_modules/
services/landing/dist/
services/about-me/node_modules/
services/about-me/dist/
services/certifications/node_modules/
services/certifications/dist/
